.card-container {
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: white;
    height: fit-content;
    justify-content: center;
  }

  .card-img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .checkbox{
    left: auto;
  }
  .grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .box {
    margin: 20px;
  }

  